<div class="container">
  <div class="raw align-items-center text-center">
    <div class="mx-auto col-11 col-sm-10 col-md-12 col-lg-8 col-xl-6 p-2">
      <% if flash[:notice] %>
        <div class="alert alert-success"><%= notice %></div>
      <% end %>
      <div class="mx-auto p-5" style="width: 200px;"></div>
      <h2>明晰夢共有サイトへようこそ！</h2>
      <p>
        当サイトは、明晰夢体験を共有し、情報交換を行うことができます。</br>
        明晰夢とは、夢の中で自分が夢を見ていることに気づき、その状態を意識的にコントロールできる能力です。</br>
      </p>
      <h4>DreamCrafters Networkでできること</h4>
      <h6>研究</h6>　
      <p>
        意図的に明晰夢を見る確実な方法を共有研究できます。</br>
        悪夢に悩まされている人は克服が見込めます。</br>
        自分だけの幸せな「夢」の空間を作り上げましょう。</br>
      </p>
      <h6>共有</h6>
      <p>
        夢日記の共有</br>
        誰かの感じた奇想天外なストーリーをいつでも感じることができます。</br>
        あなたと気が合う世界観を探しましょう。</br>
      </p>
      <h6>発見</h6>
      <p>
        夢とは、今日起きたことを過去の記憶と照合したり、</br>
        くっつけたり、比較していると考えられています。</br>
        実際に夢の中で新発見やひらめきを得た偉人は枚挙にいとまがありません。</br>
        あなたもここから新しい発見を探してみましょう。</br>
      </p>
    </div>
  </div>
</div>
<div class="mx-auto p-5" style="width: 200px;"></div>

