<div class="container">
  <div class="row">
    <div class="col-md-2 col-md-of">
      <%= link_to '＜戻る',posts_path, class: "btn btn-sm btn-secondary" %>
    </div>
    <h2>明晰夢に関する投稿</h2>
    <%= render 'user/posts/posts', posts: @posts %>
  </div>
</div>
