<div class="container">
  <div class="row">
    <div class="col-md-2 col-md-of">
      <div class="mx-auto p-2" style="width: 200px;"></div><!-- 余白 -->
      <%= link_to '＜戻る',posts_path, class: "btn btn-sm btn-secondary" %>
    </div>
    <h2>その他に関する投稿</h2>
    <%= render 'user/posts/posts', posts: @posts %>
  </div>
</div>